<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change you password</title>
</head>
<body>
    <form action="../../public//index.php" method="POST" id="form">
        <input type="hidden" name="form_type" value="change">
    
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPass" name="confirmPass">
    
        <input type="submit" value="Send" name="send">
    </form>
    <a href="login.html">Haven an account? Log in!</a>

    <div id="respuesta"></div>
</body>
<script src="../../public/js/changePassword.js"></script>
</html>