<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="" method="POST" id="form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
    
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    
        <label for="lastname">Lastname</label>
        <input type="text" id="lastName" name="lastname">
    
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPass">
    
        <input type="submit" value="Signup" name="send">
    </form>
</body>
<script src="../../public//js//signUp.js"></script>
</html>